/* Empty. Add your own CSS if you like */
iframe {
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important;
}
/* Empty. Add your own CSS if you like */
iframe {
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important;
}
html {
  height  : 100%;
  overflow: hidden;
}
body {
  height  : 100%;
  overflow: auto;
}
ion-content {
  overflow: auto;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.pull-right {
  position: absolute;
  right: 10px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
